---
const { title } = Astro.props;
import "../styles/global.css"
import NavBar from "../components/NavBar/NavBar.svelte"
import Footer from "../components/Footer/Footer.astro"
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body>
    <NavBar client:load/>
    <slot />
    <Footer />
  </body>
</html>
